/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: #107B7A;
}

button {
  outline: none;
  cursor: pointer;
}

select {
  cursor: pointer;
}

input {
  outline: none;
}

.top-bar {
  position: relative;
  height: 35px;
  background: #0414A5;
  margin: 2px;
  top: 2px;
}

.top-bar .top-bar-title {
  position: relative;
  font-family: 'Ubuntu Mono';
  top: 50%;
  margin-left: 10px;
}

.top-bar .top-bar-title p {
  position: absolute;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: white;
  font-size: large;
}

.top-bar .top-bar-icons {
  height: 27px;
  margin-top: 4px;
  margin-right: 4px;
  float: right;
}

.top-bar .top-bar-icons .minimize-icon {
  display: inline-block;
  height: 100%;
}

.top-bar .top-bar-icons .minimize-icon img {
  height: 100%;
}

.top-bar .top-bar-icons .full-screen-icon {
  display: inline-block;
  height: 100%;
}

.top-bar .top-bar-icons .full-screen-icon img {
  height: 100%;
}

.top-bar .top-bar-icons .close-icon {
  display: inline-block;
  height: 100%;
}

.top-bar .top-bar-icons .close-icon img {
  height: 100%;
}

.top-bar .top-bar-icons .minimize-icon-js {
  display: inline-block;
  height: 100%;
  margin-left: 4px;
}

.top-bar .top-bar-icons .minimize-icon-js img {
  height: 100%;
}

.top-bar .top-bar-icons .full-screen-icon-js {
  display: inline-block;
  height: 100%;
  margin-left: 4px;
}

.top-bar .top-bar-icons .full-screen-icon-js img {
  height: 100%;
}

.top-bar .top-bar-icons .close-icon-js {
  display: inline-block;
  height: 100%;
  margin-left: 4px;
}

.top-bar .top-bar-icons .close-icon-js img {
  height: 100%;
}

.message {
  font-family: 'Ubuntu Mono';
  width: 80%;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.message p {
  color: black;
  font-size: large;
}

.input-value {
  width: 70%;
  height: 35px;
  margin: auto;
  margin-top: 18px;
}

.input-value input {
  width: 98%;
  height: 100%;
  border: none;
  font-family: 'Ubuntu Mono';
  color: black;
  font-size: large;
}

.input-submit {
  width: 20%;
  height: 35px;
  margin: auto;
  margin-top: 18px;
}

.input-submit button {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  font-family: 'Ubuntu Mono';
  font-size: large;
  background: #C4C4C4;
}

.menu-bar {
  width: 100%;
  height: 50px;
}

.menu-bar button {
  height: 100%;
  font-family: 'Ubuntu Mono';
  font-size: large;
  margin-left: 15px;
  background-color: #C4C4C4;
  border: none;
}

.client-welcome-alert {
  background: #C4C4C4;
  width: 500px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

.client-draw-container {
  display: none;
  background: #C4C4C4;
  width: 80%;
  height: 95%;
  margin: auto;
}

.client-draw-container .client-main {
  width: 100%;
}

.client-draw-container .client-main .client-ui {
  font-family: 'Ubuntu Mono';
  font-size: medium;
  display: inline-block;
  width: 20%;
  height: 100%;
  vertical-align: top;
}

.client-draw-container .client-main .client-ui .client-scale-ui {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid black;
  vertical-align: top;
  padding: 5px;
}

.client-draw-container .client-main .client-ui .client-scale-ui .octave-selector {
  margin-top: 5px;
}

.client-draw-container .client-main .client-ui .client-scale-ui .octave-selector .octave-button {
  width: 25%;
  padding: 0px;
  background: none;
  border: none;
  display: inline-block;
}

.client-draw-container .client-main .client-ui .client-scale-ui .octave-selector .octave-button img {
  width: 100%;
}

.client-draw-container .client-main .client-ui .client-scale-ui .octave-selector .octave-display {
  width: 25%;
  aspect-ratio: 1;
  display: inline-block;
  background: white;
  vertical-align: top;
  text-align: right;
}

.client-draw-container .client-main .client-ui .client-scale-ui .octave-selector .octave-display.key {
  text-align: center;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector {
  margin-top: 3px;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector .note-selector {
  float: right;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector .note-selector label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector .note-selector label input:checked + .checkmark {
  background: black;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector .note-selector label .checkmark {
  border: 2px solid black;
  display: inline-block;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 2px;
  top: 3px;
}

.client-draw-container .client-main .client-ui .client-scale-ui .scale-selector .note-selector label input {
  opacity: 0.0;
}

.client-draw-container .client-main .client-ui .client-right-ui {
  display: inline-block;
  margin-left: 10px;
  border: 2px solid black;
  padding: 5px;
}

.client-draw-container .client-main .client-ui .client-right-ui .bar-selector {
  margin-top: 5px;
  margin-bottom: 5px;
}

.client-draw-container .client-main .client-ui .client-right-ui .bar-selector .bar-button {
  width: 25%;
  padding: 0px;
  background: none;
  border: none;
  display: inline-block;
}

.client-draw-container .client-main .client-ui .client-right-ui .bar-selector .bar-button img {
  width: 100%;
}

.client-draw-container .client-main .client-ui .client-right-ui .bar-selector .bar-display {
  width: 25%;
  aspect-ratio: 1;
  display: inline-block;
  background: white;
  vertical-align: top;
  text-align: center;
}

.client-draw-container .client-main .client-ui .client-right-ui button {
  display: block;
  aspect-ratio: 1;
  border: none;
  background: none;
  margin: auto;
}

.client-draw-container .client-main .client-ui .client-right-ui button img {
  text-align: center;
}

.client-draw-container .client-main .client-canvas-wrapper {
  display: inline-block;
  width: 79%;
}

.client-draw-container .viewer-canvas-wrapper {
  margin: 50px;
}

.admin-menu {
  width: 100%;
  height: 45px;
  background: #C4C4C4;
  position: fixed;
  top: calc(100% - 45px);
  z-index: 1;
}

.admin-menu .midi-port {
  width: 250px;
  height: 35px;
  margin: 4px;
  display: inline-block;
}

.admin-menu .midi-port select {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu Mono';
  font-size: large;
  background: #C4C4C4;
  border: 2px solid black;
}

.admin-menu .time-resolution {
  display: inline-block;
  width: 160px;
  height: 35px;
  margin: 4px;
  float: right;
}

.admin-menu .time-resolution select {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu Mono';
  font-size: large;
  background: #C4C4C4;
  border: 2px solid black;
}

.admin-menu .tempo-submit {
  width: 100px;
  height: 31px;
  border: 2px solid black;
  display: inline-block;
  float: right;
  margin: 4px;
}

.admin-menu .tempo-submit .tempo-number {
  display: inline-block;
  width: 25px;
  height: 100%;
  margin-left: 10px;
}

.admin-menu .tempo-submit .tempo-number input {
  width: 25px;
  height: 70%;
  margin-top: 4px;
  font-family: 'Ubuntu Mono';
  font-size: large;
  text-align: center;
  border: none;
}

.admin-menu .tempo-submit p {
  display: inline-block;
  margin-left: 10px;
}

.client-instance-container {
  width: 630px;
  height: 350px;
  margin-left: 30px;
  margin-top: 30px;
  background: #C4C4C4;
}

.client-instance-container .client-instance-content {
  height: calc(100% - 35px - 4px - 2px);
  width: 100%;
}

.client-instance-container .client-instance-content .client-instance-canvas-wrapper {
  display: inline-block;
  background: white;
  width: 80%;
  height: 100%;
  margin-left: 2px;
  margin-top: 2px;
  margin-right: 0;
}

.client-instance-container .client-instance-content .client-instance-side-menu {
  display: inline-block;
  width: 19%;
  height: 100%;
  vertical-align: top;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-midi-channel {
  width: 90%;
  height: 35px;
  margin: auto;
  margin-top: 4px;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-midi-channel select {
  width: 100%;
  height: 100%;
  font-family: 'Ubuntu Mono';
  font-size: large;
  background: #C4C4C4;
  border: 2px solid black;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-bars {
  width: calc(90% - 4px);
  height: 35px;
  margin: auto;
  margin-top: 4px;
  font-family: 'Ubuntu Mono';
  font-size: large;
  border: 2px solid black;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-bars p {
  -webkit-transform: translate(0px, 8px);
          transform: translate(0px, 8px);
  margin-left: 4px;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-tempo {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.client-instance-container .client-instance-content .client-instance-side-menu .client-instance-tempo p {
  font-family: 'Ubuntu Mono';
  font-size: large;
}
/*# sourceMappingURL=style.css.map */